<html>
  <head><title>Alpha-Blog: About</title></head>
  <body>
    <h1>About the Alpha Blog</h1>
    <hr/>
    <p>This page is currently under construction. The Alpha Blog will 
    reside on this site. Come back soon!</p>
    <p><%= link_to image_tag('profileimage.png'), 'www.lacerda.net' %></p>
    <p><%= link_to 'Home', root_path %></p>
  </body>
</html>